@{
    ViewData["Title"] = "Home Page";
}

<div>
    <!-- Header -->
    <header id="header" class="alt">
        <div class="logo"><a href="index.html">Better Here <span>by Better Here</span></a></div>
        <a href="#menu">Menu</a>
    </header>
    <!-- Nav -->
    <nav id="menu">
        <ul class="links">
            <li><a asp-area="" asp-controller="Establishments" asp-action="Index">Establishments</a></li>
            <li><a asp-area="" asp-controller="TypeEstablishments" asp-action="Index">Type Establishments</a></li>
            <li><a asp-area="" asp-controller="TypeFoods" asp-action="Index">Type Food</a></li>
        </ul>
    </nav>
</div>

<!-- Banner -->
<section class="banner full">
    <article>
        <img src="images/slide01.jpg" alt="" />
    </article>
    <article>
        <img src="images/Banner1.png" alt="" />
    </article>
    <article>
        <img src="images/Banner2.png" alt="" />
    </article>
    <article>
        <img src="images/Banner3.png" alt="" />
    </article>
</section>



<!-- Scripts -->
<script src="~/js/jquery.min.js"></script>
<script src="~/js/jquery.scrollex.min.js"></script>
<script src="~/js/skel.min.js"></script>
<script src="~/js/util.js"></script>
<script src="~/js/main.js"></script>
