@model BetterHere.Web.Data.Entities.TypeEstablishmentEntity

@{
    ViewData["Title"] = "Create";
    ViewData["BodyColorExplicit"] = "#F2AB27";
    ViewData["BodyColorClass"] = "my-body-background";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">

    <div class="col-md-6 col-md-offset-3">
        <div class="center-block">
            <h2 class="text-center text-secondary">Create Type Establishment</h2>

            <form asp-action="Create" enctype="multipart/form-data">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="NameType" class="control-label"></label>
                    <input asp-for="NameType" class="form-control" />
                    <span asp-validation-for="NameType" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn my-btn-primary" />
                    <a asp-action="Index" class="btn btn-success">Back to List</a>
                </div>
            </form>
        </div>
    </div>

    <div class="text-success">
        <p>
            @ViewBag.Message
        </p>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

