@model BetterHere.Web.Models.EditUserViewModel
@{
    ViewData["Title"] = "Edit";
    ViewData["BodyColorExplicit"] = "#F2AB27";
    ViewData["BodyColorClass"] = "my-body-background";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<div class="container">
    <h2>Edit - @Model.FirstName @Model.LastName</h2>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="ChangeUser" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="PicturePathUser" />

                <partial name="_User" />

                <div class="form-group">
                    <input type="submit" value="Save" class="btn my-btn-primary" />
                    <a asp-action="ChangePassword" class="btn my-btn-warning">Change Password</a>
                </div>
            </form>
        </div>
        <div class="col-md-4">
            @if (!string.IsNullOrEmpty(Model.PicturePathUser))
            {
                <img src="@Url.Content(Model.PicturePathUser)" alt="Image" style="width:300px;height:300px;max-width: 100%; height: auto;" />
            }
        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
